body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow-x: hidden;
}
.box_chat1 {
  position: relative;
  background: white;
  overflow:hidden;
}
.box_chat2 {
  position: relative;
  background: #fafafa;
  overflow: auto;
  height: 100vh;
}
.ope{
  height: 60vh;
  overflow: auto;
  margin-top: 4vh;
  overflow-x: hidden;
}
.h1_tele {
  position: static;
  width: 9px;
  height: 30px;
  margin-top: 5vh;
  margin-left: 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 29px;
  line-height: 34px;
  text-align: center;
  letter-spacing: -0.165px;
  color: #7e98df;
}
.line_1 {
  position: static;
  width: 22px;
  height: 3.3px;
  margin-left: 310px;
  margin-top: -80px;
  background: #7e98df;
  border-radius: 20px;
}
.line_2 {
  position: static;
  width: 15px;
  height: 3.3px;
  margin-left: 310px;
  margin-top: -110px;
  background: #7e98df;
  border-radius: 20px;
}
.line_3 {
  position: static;
  width: 22px;
  height: 3.3px;
  margin-left: 310px;
  margin-top: -140px;
  background: #7e98df;
  border-radius: 20px;
}
.form_search {
  position: static;
  width: 235px;
  height: 44px;
  margin-left: 30px;
  border: none;
  outline: none;
  top: 127px;
  background: #fafafa;
  border-radius: 15px;
}
.search_1 {
  position: static;
  width: 22.31px;
  height: 22.31px;
  margin-left: -220px;
  top: 146px;
}
.line_4 {
  position: static;
  width: 3px;
  height: 18px;
  margin-left: 245px;
  background: #7e98df;
  border-radius: 10px;
}
.line_5 {
  position: static;
  margin-left: -17px;
  height: 3px;
  width: 22.5px;
}
.all {
  position: static;
  width: 25px;
  height: 24px;
  margin-left: 30px;
  margin-top: 20px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  text-decoration: none;
  line-height: 55px;
  text-align: center;
  letter-spacing: -0.165px;
  color: #232323;
}
.important {
  position: static;
  text-decoration: none;
  color: white;
}
.imp {
  position: static;
  width: 115px;
  height: 35px;
  margin-left: 85px;
  margin-top: -10px;
  font-size: 20px;
  text-align: center;
  font-style: normal;
  background: #7e98df;
  border-radius: 20px;
}
.unread {
  position: static;
  width: 25px;
  height: 24px;
  margin-left: 220px;
  margin-top: -54px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  text-decoration: none;
  line-height: 55px;
  text-align: center;
  letter-spacing: -0.165px;
  color: #232323;
}
.menu-list{
  position: absolute;
width: 250px;
height: 360px;
left: 70px;
top: 75px;

background: #7E98DF;
border-radius: 35px 10px 35px 35px;
}
.menu-list img{
  position: static;
width: 100%;
height: 20px;
margin-left: -35%;
margin-top: 13%;
}
.menu-list a{
  position: static;
width: 100px;
height: 19px;
margin-left: -40%;
margin-top: 14%;
text-decoration: none;
font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
/* letter-spacing: -0.165px; */

color: #FFFFFF;
}
.list_chat {
  position: static;
  width: 293px;
  height: 62px;
  margin-left: 20px;
  margin-top: 6vh;
}
.img1{
  position: static;
  width: 293px;
  height: 62px;
  margin-left: -120px;
}
.font_width {
  position: static;
  width: 119px;
  height: 21px;
  margin-left: 80px;
  margin-top: -55px;

  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.165px;

  color: #232323;
}
.font_chat {
  position: static;
  width: 132px;
  height: 17px;
  margin-left: 80px;
  top: 335px;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: -0.165px;
  color: #7e98df;
}
.clock{
  position: static;
  width: 35px;
  height: 17px;
  margin-left: 288px;
  margin-top: -70px;
  
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  
  text-align: center;
  letter-spacing: -0.165px;
  
  color: #848484;
  
}
.img_new{
  position: static;
  width: 15.87px;
  height: 16.71px;
 margin-left: 213px;
  margin-top: -76px;
}
.img_new2{
  position: static;
  width: 20px;
  height: 20px;
  margin-left: 303px;
  margin-top: -24px;
  
}
.window{
position: static;
width: 218px;
height: 40px;
margin-left: 30px;
margin-top: 35px;

background: #7E98DF;
border-radius: 20px;
}
.window1{
  position: static;
width: 31.13px;
height: 22.5px;
margin-left: 18px;
margin-top: 5px;

}
.window2{
  position: static;
width: 31.13px;
height: 22.5px;
margin-left: 58px;
margin-top: 4px;
}
.window3{
  position: static;
width: 1000000px;
height: 22.5px;
margin-left: 60px;
margin-top: 4px;

}
.pls{
  position: static;
width: 438px;
height: 28px;
margin-left: 200px;
margin-top: 300px;

font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #848484;
}
/* menu list message*/
.message{
position: fixed;
width: 1024px;
height: 90px;
margin-left: 0px;
margin-top: 0px;

background: #FFFFFF;
}
.img_chat{
  position: static;
width: 64px;
height: 64px;
margin-left: 10px;
margin-top: 10px;
border-radius: 20px;
}
.name_chat{
  position: static;
  width: 83px;
  height: 21px;
  margin-left: 80px;
  margin-top: -50px;
  
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: -0.165px;
  
  color: #232323;
}
.menu_chat{
  position: static;
  width: 44px;
  height: 18px;
  margin-left: 90px;
  margin-top: -10px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.165px;
  
  color: #7E98DF;
  
}
.img_chat1{
position: static;
width: 54px;
height: 54px;
margin-left: 20px;
margin-top: 200px;
background: url("/assets/Rectangle\ 8\ \(3\).svg");
border-radius: 20px;
}
.img_chat2{
position: static;
width: 54px;
height: 54px;
margin-left: 260px;
margin-top: -100px;
background: url("/assets/Rectangle 9.svg");
border-radius: 20px;
}
.img_chat3{
  position: static;
width: 54px;
height: 54px;
margin-left: 20px;
margin-top: 80px;
background: url("/assets/Rectangle\ 8\ \(3\).svg");
border-radius: 20px;
}
.img_chat4{
  position: static;
width: 54px;
height: 54px;
margin-left: 20px;
margin-top: 230px;
background: url("/assets/Rectangle\ 8\ \(3\).svg");
border-radius: 20px;
}
.room_chat{
  position: static;
width: 286px;
height: 118px;
margin-left: 60px;
margin-top: -60px;

background: #7E98DF;
border-radius: 35px 35px 35px 10px;
}
.room_chat1{
 position: static;
width: 247px;
height: 65px;
margin-left: 470px;
margin-top: 20px;

background: #FFFFFF;
border-radius: 35px 10px 35px 35px;;
}
.room_chat3{
  position: static;
  width: 103px;
  height: 69px;
  margin-left: 60px;
  margin-top: -20px;
  
  background: #7E98DF;
  border-radius: 35px 35px 35px 10px;
}
.room_chat2{
position: static;
width: 103px;
height: 30px;
margin-left: 60px;
margin-top: -150px;
background: #7E98DF;
border-radius: 35px 35px 35px 10px;
}
.room_chat4{
  position: static;
width: 214px;
height: 40px;
margin-left: 60px;
margin-top: 10px;
background: #7E98DF;
border-radius: 35px 35px 35px 10px;
}
.car_image{
  position: static;
width: 286px;
height: 209px;
margin-left: 59px;
margin-top: 10px;
}
.text_chat{
  position: static;
width: 220px;
height: 84px;
margin-left: 30px;
margin-top: -60px;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 185.17%;
letter-spacing: -0.165px;

color: #FFFFFF;


}
.text_chat1{
position: static;
width: 220px;
height: 84px;
margin-left: 30px;
margin-top: 10px;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 185.17%;
letter-spacing: -0.165px;

color: #181616;


}
.text_chat3{
  position: static;
  width: 220px;
  height: 84px;
  margin-left: 30px;
  margin-top: -20px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 185.17%;
  letter-spacing: -0.165px;
  
  color: #FFFFFF;
}
.text_chat4{
  position: static;
width: 220px;
height: 84px;
margin-left: 30px;
margin-top: 10px;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 185.17%;
letter-spacing: -0.165px;

color: white;
}
.chat_message{
position: absolute;
width: 85%;
height: 50px;
border:none;
margin-left: -0vh;
margin-top: 2vh;
outline:none;
background: #FAFAFA;
border-radius: 15px;
}
.chat_me{
position:fixed;
width: 70%;
height: 12vh;
margin-left: 33%;
margin-top:-6.9%;

background: white;

}
.chat_me2{
  position: absolute;
width: 23px;
height: 23px;
margin-left: 70%;
margin-top: 3.5%;
}
.chat_me3{
  position: absolute;
  width: 23px;
  height: 23px;
  margin-left: 75%;
  margin-top: 3.5%;
}
.chat_me4{
  position: absolute;
  width: 23px;
  height: 23px;
  margin-left: 80%;
  margin-top: 3.5%;
}