body {
  margin: 0;
  padding: 0;
  font-weight: inherit;
  height: 100vh;
}
.box-login {
  top: 15px;
  width: 400px;
  height: 600px;
  background: #ffffff;
  box-shadow: 0px 25px 25px 25px rgba(16, 17, 17, 0.05);
  border-radius: 30px;
  mix-blend-mode: inherit;
}
.h1_login {
  text-align: center;
  color: #7e98df;
  margin-top: -35px;
}
/* Register back */
.h1_login2{
  text-align: center;
  color: #7e98df;
  margin-top: -90px;
}
/* forgot h1 */
.forgot_pass {
  margin-top: -280px;
  margin-left: 120px;
}
.back {
  width: 10px;
  margin-top: -57px;
}
.form-control {
  text-decoration-color: transparent;
  border: none;
  outline: none;
  background: none;
  border-bottom: 1px solid black;
  paint-order: none;
}
.img_ {
  margin-top: -20px;
}
a {
  text-decoration: none;
  color: black;
}
.button-login {
  position: absolute;
  width: 235px;
  height: 45px;
  left: 80px;
  margin-top: 10px;
  background: #7e98df;
  border-radius: 70px;
  color: #ffffff;
  border: none;
}
.button-login1 {
  position: absolute;
  width: 235px;
  height: 45px;
  left:80px;
  margin-top: 20px;
  background: none;
  border: 1px solid #7e98df;
  box-sizing: border-box;
  border-radius: 70px;
  color: #7e98df;
}
.login-with {
  margin-top: 45px;
  text-align: center;
}
.signup_google {
  margin-top: 80px;
  text-align: center;
  text-justify: inherit;
  text-decoration: none;
}
.forgot_pw {
  color: #7e98df;
}
.signUp {
  font-size: 17px;
  font-weight: 400px;
  font-style: normal;
  line-height: 17px;
  color: #7e98df;
}
.container-fluid {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: #7e98df;
}
img {
  height: 1;
  width: 1;
}
@media (max-width: 1024px) {
  .box-login {
    margin: 0;
    padding: 0;
    width: 780px;
    height: 100vh;
   top: 155px;
  }
  .h1_login {
    text-align: center;
    color: #7e98df;
    margin-top: 30px;
  }
  .form-label {
    margin-top: -10px;
  }
 .button-login {
    position: absolute;
    width: 250px;
    height: 45px;
    left: 270px;
    margin-top: 10px;
  }
  .login-with {
    margin-top: 40px;
    text-align: center;
  }
  .signup_google{
    margin-top: 70px;
  }
  .button-login1 {
    width: 250px;
    height: 45px;
    left: 270px;
    margin-top: 20px;
  }
}

/* Surface Duo */
@media (max-width: 990px) and (min-height:100vh) {
  .box-login {
    width: 850px;
    height: 850px;
    margin-top: -110px;
  }
  .h1_login {
    text-align: center;
    color: #7e98df;
    margin-top: 45px;
  }
  .form-label {
    margin-top: 10px;
  }
  .button-login1 {
    position: absolute;
    width: 250px;
    height: 35px;
    left: 225px;
    margin-top: 0px;
  }
  .button-login {
    position: absolute;
    width: 250px;
    height: 35px;
    left: 225px;
    margin-top: 8px;
  } 
  .login-with {
    margin-top: 20px;
    text-align: center;
  }
  .signup_google {
    margin-top: 3.5em;
  }
  div h1 {
    margin-top: -70px;
  }
}
/* galaxy fold */
@media (max-width: 768px) {
  .box-login {
    width: 450px;
    height: 100vh;
    /* margin-top: 95px; */
  }
  .h1_login {
    text-align: center;
    color: #7e98df;
    margin-top: 40px;
  }
  .form-label {
    margin-top: 20px;
  }
  .button-login1,
  .button-login {
    position: absolute;
    width: 200px;
    height: 35px;
    left: 130px;
  }
}
/*  */
@media (max-width: 590px) {
  .box-login {
    width: 450px;
    height: 100vh;
    /* margin-top: -155px; */
  }
  .h1_login {
    text-align: center;
    color: #7e98df;
    margin-top: -50px;
  }
  .form-label {
    margin-top: 40px;
  }
  .button-login1,
  .button-login {
    position: absolute;
    width: 200px;
    height: 35px;
    left: 125px;
  }
}
/*phone x  */
@media (max-width: 375px) {
  .box-login {
    margin: 0;
    padding: 0;
    width: 450px;
    height: 100vh;
    margin-top: -155px;
    border-radius: 25px;
  }
  .h1_login {
    text-align: center;
    color: #7e98df;
    margin-top: 30px;
  }
  .form-label {
    margin-top:-20px;
    height: 0;
  }
  .button-login1,
  .button-login {
    position: absolute;
    width: 200px;
    height: 35px;
    left: 70px;
  }
  .signup_google{
    margin-top: 39px;
  }
}
@media (max-width: 401px) and (max-height:321px){
  .box-login {
    width: 450px;
    height: 520px;
    margin-top: 95px;
    border-radius: 25px;
  }
  .h1_login {
    text-align: center;
    color: #7e98df;
    margin-top: 30px;
  }
  .form-label {
    margin-top:-20px;
  }
  .button-login1,
  .button-login {
    position: absolute;
    width: 200px;
    height: 35px;
    left: 70px;
  }
  .signup_google{
    margin-top: 39px;
  }
}